# Project specific rules
settings.py

# Created by https://www.gitignore.io/api/flask,python,virtualenv,intellij+all
# Edit at https://www.gitignore.io/?templates=flask,python,virtualenv,intellij+all
# Simplified by makzk for this project

instance/*
!instance/.gitignore
.webassets-cache
__pycache__/
*.py[cod]
*$py.class
*.so
pip-log.txt
pip-delete-this-directory.txt
.python-version
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/contentModel.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
.idea/**/gradle.xml
.idea/**/libraries
cmake-build-*/
.idea/**/mongoSettings.xml
*.iws
out/
.idea_modules/
atlassian-ide-plugin.xml
.idea/replstate.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
.idea/httpRequests
.idea/
*.iml
modules.xml
.idea/misc.xml
*.ipr
.idea/sonarlint
pyvenv.cfg
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
pip-selfcheck.json

# End of https://www.gitignore.io/api/flask,python,virtualenv,intellij+all
